<div class="cadastro-produto-container">
    <div>
        <!-- botoes para mudar as abas -->
        <div class="navegacao-abas">
            <button 
                type="button" 
                class="btn-aba" 
                [class.aba-ativa]="abaAtiva === 'cadastrar'" 
                (click)="alternarAba('cadastrar')">
                Cadastrar Produto
            </button>

            <button 
                type="button" 
                class="btn-aba" 
                [class.aba-ativa]="abaAtiva === 'atualizar'" 
                (click)="alternarAba('atualizar')">
                Atualizar Produto
            </button>
        </div>

        @if (abaAtiva === 'cadastrar') {
            <h2>Cadastro de Produto</h2>

            <p>Preencha todos os campos com * para cadastrar o Produto!</p>

            <form class="form-group" #form="ngForm" (ngSubmit)="executarCadastroProduto()">
                <label for="username">* Nome do Produto: </label>
                <input 
                type="text"
                id="username"
                name="username"
                [(ngModel)]="nomeDigitado"
                placeholder="Digite o nome do Produto"
                required>

                <label for="marca">* Marca do produto: </label>
                <input 
                type="text"
                id="marca"
                name="marca"
                [(ngModel)]="marcaDigitada"
                placeholder="Digite a marca do produto"
                required>

                <label for="codBarra">Codigo de barra: </label>
                <input 
                type="text"
                id="codBarra"
                name="codBarra"
                [(ngModel)]="codBarraDigitada"
                placeholder="Digite o codigo de barra do produto"
                step="1"
                maxlength="13"
                (input)="codBarraDigitada = codBarraDigitada.replace(/\D/g, '')">

                <label for="quantidade">* Quantidade do produto: </label>
                <input 
                type="number"
                id="quantidade"
                name="quantidade"
                [(ngModel)]="quantidadeDigitada"
                placeholder="Digite a quantidade produto"
                step="1"
                min="0"
                required>

                <label for="precoCusto">* Preço de Custo: </label>
                <input 
                type="number"
                id="precoCusto"
                name="precoCusto"
                [(ngModel)]="precoCustoDigitado"
                placeholder="0.00"
                step="0.01"
                min="0"
                required>

                <label for="precoVenda">* Preço de venda: </label>
                <input 
                type="number"
                id="precoVenda"
                name="precoVenda"
                [(ngModel)]="precoVendaDigitado"
                placeholder="0.00"
                step="0.01"
                min="0"
                required>

                <button type="submit" [disabled]="form.invalid || carregando">
                    {{carregando ? 'Entrando...' : 'Cadastrar'}}
                </button>
            </form>
        }
                <!-- exibe a tela de atualizar -->
        @if (abaAtiva === 'atualizar') {
            <!-- chamamos diretamente o componente de -->
            <app-gerenciador-produto></app-gerenciador-produto>
        }
    </div>
</div>