<div class="cadastro-usuario-container">
    <div>
        <!-- botoes para mudar as abas -->
        <div class="navegacao-abas">
            <button 
                type="button" 
                class="btn-aba" 
                [class.aba-ativa]="abaAtiva === 'cadastrar'" 
                (click)="alternarAba('cadastrar')">
                Cadastrar Usuario
            </button>

            <button 
                type="button" 
                class="btn-aba" 
                [class.aba-ativa]="abaAtiva === 'atualizar'" 
                (click)="alternarAba('atualizar')">
                Atualizar Usuario
            </button>
        </div>

        @if (abaAtiva === 'cadastrar') {
            <h2>Cadastro de Usuario</h2>

            <p>Preencha todos os campos com * para cadastrar o Usuario!</p>

            <form class="form-group" #form="ngForm" (ngSubmit)="executarCadastroUsuario()">
                <label for="username">* Usuario: </label>
                <input 
                type="text"
                id="username"
                name="username"
                [(ngModel)]="nomeDigitado"
                placeholder="Digite o nome do usuario"
                required>

                <label for="password">* Senha: </label>
                <input 
                type="password"
                id="password"
                name="password"
                [(ngModel)]="senhaDigitada"
                placeholder="Digite sua senha"
                required>

                <label for="email">Email: </label>
                <input 
                type="email"
                id="email"
                name="email"
                [(ngModel)]="emailDigitado"
                placeholder="Digite seu email">

                <label for="telefone">Telefone: </label>
                <input 
                type="text" 
                id="telefone"
                name="telefone"
                placeholder="(62) 90000-0000">

                <label for="cargo">* Cargo: </label>
                    <select 
                    name="cargo" 
                    id="cargo"
                    [(ngModel)]="cargoDigitado"
                    required>
                        <option value="" disabled>Selecione uma opção</option>
                        <option value="BALCONISTA">Balconista</option>
                        <option value="ADMINISTRADOR">Administrador</option>
                        <option value="GERENTE">Gerente</option>
                    </select>
                <button type="submit" [disabled]="form.invalid || carregando">
                    {{carregando ? 'Entrando...' : 'Cadastrar'}}
                </button>            
            </form>
        }
        <!-- exibe a tela de atualizar -->
        @if (abaAtiva === 'atualizar') {
            <!-- chamamos diretamente o componente de -->
            <app-gerenciador-usuario></app-gerenciador-usuario>
        }
    </div>
</div>
